%h3.text-center= current_user.full_name
.container
  .row.justify-content-center
    .col-md-4
      = link_to 'New Trip', new_trip_path, remote: true, class: 'btn btn-primary btn-block'
  #new-trip-form
  %hr
  - @trips.each do |trip|
    #trip-list
    = render partial: 'trip', locals: {trip: trip}