.container
  = render partial: 'public/trips/trip', locals: {trip: @trip}

  %img{:alt => "Staticmap?&zoom=13&size=500x200&maptype=roadmap&markers=38.43608,-78", :src => "https://maps.googleapis.com/maps/api/staticmap?&zoom=13&size=500x200&maptype=roadmap&markers=38.43608,-78.9093209&key=AIzaSyBtu6_Dl7n3LMP__-QMWZpyzPrsvWpmLVU"}/



  AIzaSyCrRUceldHOEg1rirq96YunD18RySC3LnY