.container
  .row
    .col-lg-8.home-feature-text
      %h1
        Let your
        .animated-words
          %span mom
          %span girlfriend
          %span roommate
          %span boyfriend
          %span dad
          %span friends
        %br know about your adventures.
      = link_to 'Get Started', new_user_session_path, class: 'btn btn-primary btn-lg'

  .row.banner-features
    .col-lg-4
      .icon
        %i{"data-feather" => "plus-circle"}
      %p
        Create trips that show where you're headed, what you're doing, and when you'll be back.
    .col-lg-4
      .icon
        %i{"data-feather" => "share"}
      %p
        Share your trip with close friends and family so people know where you are.
    .col-lg-4
      .icon
        %i{"data-feather" => "bell"}
      %p
        They'll get sent automatic email and text alerts if you don't check in by your scheduled time.
.home-feature-banner

.container
  .row.pad4y
    .col-lg-6
      .box-skinny
        %p "It's the greatest thing ever. Kyle actually tells me what he's doing now. Before, I would only find out after the fact."
        %p - Kyle's mom
    .col-lg-6
      .box-skinny
        %p "Sometimes he would just disappear for a few days and I was never sure whether he was just doing some crazy mountain thing or if I should be worried. This makes things a lot easier."
        %p - Kyle's roommate
.about-section
  .container
    .row.pad4y
      .col-lg-12
        %h2.text-center How it Works
    .row
      .col-lg-4
        .number
          1.
        %p
          Create trips that show where you're headed, what you're doing, and when you'll be back.
      .col-lg-4
        .number
          2.
        %p
          Share your trip with close friends and family so people know where you are.
      .col-lg-4
        .number
          3.
        %p
          They'll get sent automatic email and text alerts if you don't check in by your scheduled time.
.how-it-works
  .container
    .row.justify-content-center.pad8y
      .col-lg-4
        %h2 How does it work?
      .col-lg-8
        %p Have you seen 127 Hours? Aron Ralston survived a canyoneering accident after being trapped for 5 days and amputating his own arm. One of the reasons his predicament was so dire was that he hadn't informed anyone of his hiking plans.
        %p I don't know about you, but I'm often guilty of similarly poor planning. While I've been lucky enough to avoid any accidents or major injuries, I often don't properly inform friends and family about my adventure plans. Sorry mom.
        %p Our goal is to provide a notification system for folks to easily inform their friends and family about where they're going and what they're doing, whether it's hiking, climbing, backcountry skiing, mountain biking, or anything else.
        %p Trailmate is not a replacement for proper planning, preparedness, or good decision-making. However, we hope that it can provide a useful service to keep the important people in your life more informed and aware.

.container
  .row.pad8y
    .col-lg-4
      %h2 FAQ
    .col-lg-8
      .faq-item
        %h3 Is this free?
        %p
          That's a great question. Would you pay a nominal monthly fee for a service like this? We'd hate for price to be a barrier for folks, especially for a product geared around safety, but it does cost us money to keep the tech running.
      .faq-item
        %h3 Is this an app?
        %p
          Not yet. V1 works via the site, email, and SMS/text only. If you want to help us turn it into one, shoot an email to kyle@kylefrost.com.
      .faq-item
        %h3 Why not use an InReach?
        %p
          InReach's and other satellite-based safety technology are amazing. However many people don't have access to these devices, or see them as overkill. Hopefully, a service like this can provide value in the middle-ground.

