.container
  .row
    .col-lg-8.home-feature-text
      %h1
        Let your
        .animated-words
          %span mom
          %span girlfriend
          %span roommate
          %span boyfriend
          %span dad
          %span friends
        %br know about your adventures.
      = link_to 'Get Started', new_user_session_path, class: 'btn btn-primary btn-lg'

  .row.banner-features
    .col-lg-4
      .icon
        %i{"data-feather" => "plus-circle"}
      %p
        Create trips that show where you're headed, what you're doing, and when you'll be back.
    .col-lg-4
      .icon
        %i{"data-feather" => "share"}
      %p
        Share your trip with close friends and family so people know where you are.
    .col-lg-4
      .icon
        %i{"data-feather" => "bell"}
      %p
        They'll get sent automatic email and text alerts if you don't check in by your scheduled time.
.home-feature-banner

