.home-feature-banner
  %h1 Trailmate
  %p.lead
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam assumenda a, dicta, neque cum molestiae explicabo expedita delectus, non libero numquam eius accusantium dignissimos placeat impedit blanditiis praesentium quas animi.
