body{
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  background: #f5f9fc;
}
h1{
  font-size: 80px;
  font-weight: 600;
}
h2{
  font-size: 36px;
}
h3{
  font-size: 22px;
}
p{
  font-weight: 100;
  color: #585858;
}

.btn-primary{
  border-radius: 30px;
  background: #69d478;
  border-color: #69d478;
}
.home-feature-text{
  padding-top: 60px;
  h1{
    position: relative;
    padding-bottom: 15px;
  }
}
.about-section{
  background: url('https://images.unsplash.com/photo-1446470031315-c47a015f36f2?dpr=2&fit=crop&w=2767&h=&q=80&bri=10&cs=tinysrgb&crop=') center center;
  background-size: cover;
  min-height: 800px;
  h2{
    font-size: 50px;
    font-weight: 700;
  }
  .number{
    font-size: 20px;
    float:left;
    display: inline-block;
    width: 12%;
    color: #69d478;
  }
  p{
    font-weight: 100;
    float:left;
    display: inline-block;
    width: 88%;
  }
}

.home-feature-banner{
  width: 100%;
  background: #efefef;
  background : url('https://images.unsplash.com/photo-1480358074177-c2f76f7e00d3?dpr=1&auto=compress,format&fit=crop&w=3900&h=&q=80&cs=tinysrgb&crop=') center center no-repeat;
  background-size: cover;
  height: 600px;
  padding: 100px 0;
  position: relative;
  &:after{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    content: '';
    background: rgba(0,0,0,0.15);
  }
  p{
    color:white;
    font-size: 24px;
    font-weight: 300;
    z-index: 99;
    position: relative;
  }
  .name{
    font-size: 18px;
    color:white;
    z-index: 99;
    position: relative;
  }
}
.banner-features{
  padding: 60px 0;
  border-bottom: 1px solid #efefef;
  .icon{
    float:left;
    display: inline-block;
    width: 12%;
    margin-top: 5px;
    color: #69d478;

  }
  p{
    font-weight: 100;
    float:left;
    display: inline-block;
    width: 88%;
  }
}
.testimonials{
  margin-top: -200px;
  padding-bottom: 100px;
}
.how-it-works{
  background: #fff;
  border-top: 1px solid #efefef;
  border-bottom: 1px solid #efefef;
  p{
    font-size: 18px;
    font-weight: 300;
  }
}
.faq-item{
  border-bottom: 1px solid #efefef;
  padding: 15px 0;
  h3{
    font-size: 18px;
    font-weight: 700;
  }
}

.box{
  padding: 40px;
  background-color: #fff;
  border-radius: 4px;
  box-shadow: 0 15px 25px rgba(50,50,93,.07), 0 5px 15px rgba(0,0,0,.07);
  transition-property: color,background-color,box-shadow,transform;
  transition-duration: .15s;
  @media (max-width:480px){
    padding: 20px;
  }
}
.box-skinny{
  padding: 40px;
  background-color: #fff;
  border-radius: 4px;
  border: 1px solid #efefef;
  @media (max-width:480px){
    padding: 20px;
  }
}


.animated-words {
    display: inline-block;
    color: #69d478;
}
.animated-words span:nth-child(2) {
    -webkit-animation-delay: 3s;
    -ms-animation-delay: 3s;
    animation-delay: 3s;
}
.animated-words span:nth-child(3) {
    -webkit-animation-delay: 6s;
    -ms-animation-delay: 6s;
    animation-delay: 6s;
}
.animated-words span:nth-child(4) {
    -webkit-animation-delay: 9s;
    -ms-animation-delay: 9s;
    animation-delay: 9s;
}
.animated-words span:nth-child(5) {
    -webkit-animation-delay: 12s;
    -ms-animation-delay: 12s;
    animation-delay: 12s;
}
.animated-words span:nth-child(6) {
    -webkit-animation-delay: 15s;
    -ms-animation-delay: 15s;
    animation-delay: 15s;
}

.animated-words span {
    position: absolute;
    opacity: 0;
    top: 0px;
    line-height: 1.1;
    color: #69d478;
    -webkit-animation: animateWord 18s linear infinite 0s;
    -ms-animation: animateWord 18s linear infinite 0s;
    animation: animateWord 18s linear infinite 0s;
}
@-webkit-keyframes animateWord {
    0% { opacity: 0; }
    2% { opacity: 0; -webkit-transform: translateY(-30px); }
    5% { opacity: 1; -webkit-transform: translateY(0px);}
    17% { opacity: 1; -webkit-transform: translateY(0px); }
    20% { opacity: 0; -webkit-transform: translateY(30px); }
    80% { opacity: 0; }
    100% { opacity: 0; }
}

.form-control{
  padding: .8rem .75rem;
  font-weight: 200;
}
label{
  font-size: 13px;
  margin-bottom: 5px;
}

.shared-links{
  padding-top: 20px;
  border-top: 1px solid #efefef;
  margin-top: 20px;
}

.trip-title{
  font-size: 18px;
  font-weight: 600;
}
.trip-description{
  font-weight: 200;
}
