.m1y{
  margin: 10px 0;
}
.m3b{
  margin-bottom: 30px;
}
.m3t{
  margin-top: 30px;
}
.m4b{
  margin-bottom: 40px;
}
.pad2b{
  padding-bottom: 20px;
}
.pad2y{
  padding: 20px 0;
}
.pad4y{
  padding: 40px 0;
}
.pad8y{
  padding: 80px 0;
}
.light{
  font-weight: 200;
}
